<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">註冊會員 </h1>
      
      {{> message }}
      <form action="/users/register" method="post">
        <div class="mb-3">
          <label for="name">姓名:</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            placeholder="Enter Name"
            required
            autofocus
            value="{{name}}"
          />
        </div>
        <div class="mb-3">
          <label for="email">E-mail:</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Enter Email"
            value="{{email}}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password">密碼:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter password"
            value="{{password}}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirmPassword">確認密碼:</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm password"
            value="{{confirmPassword}}"

          />
        </div>
        <div>
        <button type="submit" class="btn btn-primary btn-block">
          送出
        </button>
        
          <a href="/auth/facebook" class="btn btn-info btn-block">使用 Facebook 登入</a>
        </div>
      
      </form>
      <p class="lead mt-4">已有帳號? <a href="/users/login">登入</a></p>
    </div>
  </div>
</div>